macro_redo: macro_redo {
  compatible = "zmk,behavior-macro";
  label = "macro_redo";
  #binding-cells = <0>;
  bindings = <&macro_press &kp LEFT_COMMAND>, <&macro_tap &kp Z>, <&macro_release &kp LEFT_COMMAND>;
};
macro_undo: macro_undo {
  compatible = "zmk,behavior-macro";
  label = "macro_undo";
  #binding-cells = <0>;
  bindings = <&macro_press &kp LSHIFT &kp LEFT_COMMAND>, <&macro_tap &kp Z>, <&macro_release &kp LSHIFT &kp LEFT_COMMAND>;
};
macro_back: macro_back {
  compatible = "zmk,behavior-macro";
  label = "macro_back";
  #binding-cells = <0>;
  bindings = <&macro_press &kp LEFT_COMMAND>, <&macro_tap &kp LEFT_BRACKET>, <&macro_release &kp LEFT_COMMAND>;
};
macro_next: macro_next {
  compatible = "zmk,behavior-macro";
  label = "macro_next";
  #binding-cells = <0>;
  bindings = <&macro_press &kp LEFT_COMMAND>, <&macro_tap &kp RIGHT_BRACKET>, <&macro_release &kp LEFT_COMMAND>;
};
macro_hyper: macro_hyper {
  compatible = "zmk,behavior-macro";
  label = "macro_hyper";
  #binding-cells = <0>;
  bindings = <&macro_press &kp LCMD>, <&macro_press &kp LCTRL>, <&macro_press &kp LSHFT>, <&macro_press &kp LALT>;
};
macro_meh: macro_meh {
  compatible = "zmk,behavior-macro";
  label = "macro_meh";
  #binding-cells = <0>;
  bindings = <&macro_press &kp LCTRL>, <&macro_press &kp LSHFT>, <&macro_press &kp LALT>;
};
macro_quotes: macro_quotes {
  compatible = "zmk,behavior-macro";
  label = "macro_quotes";
  #binding-cells = <0>;
  bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};

m_kana_cmd:{
  compatible = "zmk,behavior-macro";
  label = "macro_meh";
  #binding-cells = <0>;
  bindings = <&macro_press &mo DEFAULT>, <&macro_press &kp LCMD>;
}

m_kana: m_kana {
  compatible = "zmk,behavior-macro-two-param";
  label = "m_kana";
  #binding-cells = <2>; // Must be 2
  bindings = <&macro_param_1to1>, <&kp MACRO_PLACEHOLDER>, <&macro_param_2to1>, <&kp MACRO_PLACEHOLDER>;
};

macro_ku: macro_ku {
  compatible = "zmk,behavior-macro";
  label = "macro_ku";
  #binding-cells = <0>;
  bindings = <&kp K>, <&kp U>;
};

macro_switch_japanese: macro_switch_japanese {
  compatible = "zmk,behavior-macro";
  label = "macro_switch_japanese";
  #binding-cells = <0>;
  bindings = <&tog 5>, <&kp INT2>;
};
macro_switch_english: macro_switch_english {
  compatible = "zmk,behavior-macro";
  label = "macro_switch_english";
  #binding-cells = <0>;
  bindings = <&tog 5>, <&kp INT5>;
};
macro_dquotes: macro_dquotes{
compatible = "zmk,behavior-macro";
label = "macro_dquotes";
#binding-cells = <0>;
bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};
macro_braces: macro_braces{
compatible = "zmk,behavior-macro";
label = "macro_braces";
#binding-cells = <0>;
bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};
macro_parens: macro_parens{
compatible = "zmk,behavior-macro";
label = "macro_parens";
#binding-cells = <0>;
bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};
macro_brackets: macro_brackets{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};
macro_kinesis: macro_kinesis{
compatible = "zmk,behavior-macro";
label = "macro_kinesis";
#binding-cells = <0>;
bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
};
